.page-hero-image {
    width: 100%;
    height: 310px;
    object-fit: cover;
}

.page-hero-content {
    padding: var(--maxMarginSpacing);
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--primary);
    text-align: center;
}

.page-hero-label {
    font-size: 25px;
    font-weight: 500;
}


.page-hero-title {
    font-size: 3em;
    font-weight: 500;
    line-height: 70px;
    font-family: 'Ysabeau';
    font-style: italic;
}